<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a href="/images/portfolio/fullsize/foto_1.JPG" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/foto_1.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Espaço Fitness
                            </div>
                            <div class="project-name">
                                Espaço reservado para musculação.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 2-->				    
            <div class="col-lg-4 col-sm-6">
                <a href="/images/portfolio/fullsize/foto_2.JPG" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/foto_2.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Espaço Fitness
                          </div>
                          <div class="project-name">
                              Espaço reservado para musculação.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 3-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem3.JPG" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem3.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Espaço Fitness
                          </div>
                          <div class="project-name">
                              Espaço reservado para musculação.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 4-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem4.JPG" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem4.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Espaço Fitness
                          </div>
                          <div class="project-name">
                              Espaço reservado para musculação.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 5-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem5.JPG" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem5.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Espaço Fitness
                          </div>
                          <div class="project-name">
                              Espaço reservado para musculação.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 6-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/f2.JPG" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/f2.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Espaço Fitness
                          </div>
                          <div class="project-name">
                              Espaço reservado para musculação.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 7-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem7.JPG" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem7.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Espaço Fitness
                          </div>
                          <div class="project-name">
                              Espaço reservado para musculação.
                          </div>
                        </div>
                    </div>
                </a>
            </div>
						<!-- foto 8-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/f1.JPG" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/f1.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Espaço Fitness
                          </div>
                          <div class="project-name">
                              Espaço reservado para musculação.
                          </div>
                        </div>
                    </div>
                </a>
            </div>						
						<!-- foto 8-->				    
            <div class="col-lg-4 col-sm-6 ">
                <a href="/images/portfolio/fullsize/imagem9.JPG" class="portfolio-box">
                    <img src="/images/portfolio/thumbnails/imagem9.JPG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-category text-faded">
                              Espaço Fitness
                          </div>
                          <div class="project-name">
                              Espaço reservado para musculação.
                          </div>
                        </div>
                    </div>
                </a>
            </div>						

        </div>

    </div>
</section>