<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Serviços</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-female text-danger sr-icons"></i>
                    <h3>Academia só para mulheres</h3>
                    <p class="text-muted">
											Our templates are updated regularly so they don't break.<br>
											<i class="fa fa-3x fa-usd sr-icons text-danger"> 39,90</i>											
										</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-moon-o sr-icons text-danger"></i>
                    <h3>Dança do Ventre</h3>
                    <p class="text-muted">
	O prazer da dança é algo que se adquire no dia a dia. Com o decorrer do tempo chega-se à conclusão que é um prazer para toda vida. A Dança do Ventre proporciona a mulher um encontro consigo mesma. Venha experimentar e descobrir que essa é uma virtude que você também pode ter. Turma iniciante, infantil, juvenil e adulta.
										</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-child sr-icons text-danger"></i>
                    <h3>Ballet</h3>
                    <p class="text-muted">
										 Indicado tanto para crianças quanto para adultos, por ser uma das atividades mais completas, o Ballet exige melhora da respiração e estimula o condicionamento cardiovascular. Aqui na tenda, nossos professores são altamente capacitados. Os horários são alternados e tem turmas para todas as idades.												
										</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-users text-danger sr-icons"></i>
                    <h3>Aulas Coletivas</h3>
                    <p class="text-muted">
											You have to make your websites with love these days!<br>
											<i class="fa fa-3x fa-usd sr-icons text-danger"> 59,90</i>											
										</p>
                </div>
            </div>
        </div>
    </div>
</section>
