<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Serviços</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-venus text-danger sr-icons"></i>
                    <h3>Academia só para mulheres</h3>
                    <p class="text-muted">
											Our templates are updated regularly so they don't break.<br>
										</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-moon-o sr-icons text-danger"></i>
                    <h3>Dança do Ventre</h3>
                    <p class="text-muted">
	O prazer da dança é algo que se adquire no dia a dia. Com o decorrer do tempo chega-se à conclusão que é um prazer para toda vida. A Dança do Ventre proporciona a mulher um encontro consigo mesma. Venha experimentar e descobrir que essa é uma virtude que você também pode ter. Turma iniciante, infantil, juvenil e adulta.
										</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-female sr-icons text-danger"></i>
                    <h3>Ballet</h3>
                    <p class="text-muted">
										 Indicado tanto para crianças quanto para adultos, por ser uma das atividades mais completas, o Ballet exige melhora da respiração e estimula o condicionamento cardiovascular. Aqui na tenda, nossos professores são altamente capacitados. Os horários são alternados e tem turmas para todas as idades.												
										</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa fa-heartbeat text-danger sr-icons"></i>
                    <h3>Avaliação física/fisioterápica</h3>
                    <p class="text-muted">
											You have to make your websites with love these days!<br>
										</p>
                </div>
            </div>
        </div>
				<div class="row">
					<div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa fa-ravelry text-danger sr-icons"></i>
                  <h3>Pilates & Cross Pilates</h3>
                  <p class="text-muted">
										Criado pelo alemão Joseph Pilates, o método de condicionamento físico e mental proporciona o alongamento e a fortificação do corpo de forma integrada e individualizada, além de melhorar a respiração, diminuir o stress, desenvolver a consciência e o equilíbrio corporal, melhorando a coordenação motora e a mobilidade articular, proporcionando assim, o relaxamento. O Cross Pilates uni os princípios básicos do Pilates clássico com as bases do Treinamento Funcional. Venha fazer parte desta prática! Aulas de segunda a quinta das 07h às 20h.	
									</p>
              </div>
          </div>          
					<div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa fa-leaf text-danger sr-icons"></i>
                  <h3>Yoga</h3>
                  <p class="text-muted">
	O mundo está cada dia mais caótico e exigente. E muitas vezes precisamos nos controlar. A Yoga é uma prática que pode trazer vários benefícios para o corpo e a mente. A Tenda Árabe oferece essa técnica maravilhosa de relaxamento para favorecer o seu bem estar. Todas as quartas-feiras às 07h30
									</p>
              </div>
          </div>          
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa fa-users text-danger sr-icons"></i>
                  <h3>Aulas Coletivas</h3>
                  <p class="text-muted">
										You have to make your websites with love these days!<br>
									</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa fa-cutlery text-danger sr-icons"></i>
                  <h3>Atendimento Nutricional</h3>
                  <p class="text-muted">
										You have to make your websites with love these days!<br>
									</p>
              </div>
          </div>
        </div>
    </div>
</section>
